body, html {
    height: 100%;
    padding-top: 25px;
}

.bg-custom {
    background-color: #3b607a;
}

.btn-transparent {
    background-color: transparent;
}

.sideNav {
    height: 100vh;
}

.hide {
    display: none;
}

.show {
    display: block;
}